.node {
  border-radius: 0px;
  border-width: 0px;
}

#node-border {
  margin: 0px;
  border-width: 1px;
  border-radius: 6px;
  border-color: rgba(0, 0, 0, 0.5);
}

.node #input {
  border-radius: 0px;
}

.node #output {
  border-radius: 0px;
}

#selection-border {
  margin: 0px;
  padding: 0px;
  border-width: 8px;
  border-radius: 5px;
}
